@import "tailwindcss";

@theme {
  --font-sans: var(--font-figtree);

  --color-coffee-dark: #1a1110;
  --color-coffee-medium: #3b2f2f;
  --color-gold: #c29e75;
  --color-cream: #f4eec7;
}

:root {
  --background: #1a1110;
  --foreground: #f4eec7;
}

html, body {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree);
  overflow-x: hidden; 
}


html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
